/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
}

header .logo img {
  width: 150px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  text-align: center;
}

.about {
  background-color: #fff;
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
}
.about img {
  width: 100%;
}
.projects .project-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 100px auto;
}
.project img {
  width: 100%;
}
.contact {
  background-color: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
  margin-top: 20px;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
}

form label {
  text-align: left;
  margin-bottom: 5px;
}

form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .project-grid {
    flex-direction: column;
  }
}
